@charset "utf-8";
/* CSS Document */
html {
	height: 720px;
	margin: 0px;
}

body {
	background: linear-gradient(to bottom right, #ff99cc 0%, #3366cc 100%);
	margin: 0px;
	height:720px;
	overflow-x: hidden;
}

.header{
	height:100px;
	background: linear-gradient(to top left, #ff99cc 0%, #3366cc 100%);
	display: inline-block;
	width: 1348.5px;
	
}
.OEP{
	font-size:45px;
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	font-weight:bold;
	position:relative;
	margin-left:20px;
	top:24px;
    display: inline-block;	
	

}
.T1{
	position:relative;
	
	left:930px;
	top:-30px;
	color:white;
	display: inline-block;
	}
.fn1{
	border-radius:5px;
	border:1px solid #BDC7D8;
	color:black;
	padding:10px;
	height:20px;
	width:200px;
}
.f2{
	border-radius:5px;
	border:1px solid #BDC7D8;
	color:black;
	padding:10px;
	height:20px;
	width:200px;
}
.f3{
	border-radius:5px;
	border:1px solid #BDC7D8;
	color:black;
	padding:10px;
	height:20px;
	width:425px;
	margin-top:10px;
}
.f4{
	border-radius:5px;
	border:1px solid #BDC7D8;
	color:black;
	padding:10px;
	height:20px;
	width:425px;
	margin-top:10px;
}
.ac1{
	width:230px;
	height:40px;
	font-weight:0px;
	background: linear-gradient(to bottom right, blue 0%,  red 70%);
	color:white;
	font-size:20px;
}
.sideimg {
	position: relative;
	top: -30px;
	left: 0px;
	display: inline-block;
	overflow-y: hidden;

}
.divimg {
	position: relative;
	display: inline-block;
	top: 32px;
	left: 1006px;
	

}
.divimg img:hover {
	padding: 0.1px;
}
footer {
	position: relative;
	top: 152px;
	left:125px;
	color: green;
	background-color: yellow;
	display: inline-block;
	margin: 0px;
	padding: 0px;


}
.submit1 {
	position: relative;
	top: -105px;
	left: 508px;
	display: inline-block;
	height: 457px;
	box-sizing: border-box;
}

	/* Chnage in CSS */

.container {
    position: relative;
    top: -29px;
    display: inline-block;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 10px 20px;

  
}

